<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context-4.0.xsd">
    
	<!--     如果配置文件是在jar中，需要 在classpath后面加*		 -->
	<import resource="classpath:config/soa/dubbo-application.xml"/>
	<import resource="classpath:config/soa/dubbo-protocol-registry.xml"/>  
	<import resource="classpath:config/soa/*/dubbo-*-*.xml" />
	
</beans>